
#collapsibleNavId {
  margin-left: 50%;
}
.container1 {

  margin-left: 20%;
  margin-right: 20%;
  background: white;
  margin-bottom: 5%;
}
img {
  margin-left: 5%;
}
.container-fluid {
  background-color: gray;
}
.my-row {
    background-color: white;
    margin-right: 100px;
}
