
#collapsibleNavId {
  margin-left: 50%;
}
.container1 {

  margin-left: 20%;
  margin-right: 20%;
  background: white;
  margin-bottom: 5%;
}
img {
  margin-left: 5%;
}
.container-fluid {
  background-color: gray;
}
.my-row {
    background-color: white;
    margin-right: 100px;
}
.cont1 {
  background-color: darkslategray;
  margin-top: 3%;
}
#port {
  padding: 5px;
  padding-bottom: 30px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.row2 {
  padding: 15px;
}